# Python cache
__pycache__/
*.py[codz]
*$py.class

# Python packages
.Python
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.venv
venv/

# VS Code settings
.vscode/

# Spider datasets
**/spider/*
!**/spider/README.md
*.zip